body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.chart-hadding{
  color:red;
  text-align: center;
  text-decoration: underline;

}
.cards {
  display: flex;
  gap: 10px;
  justify-content: left;
  padding: 10px;
}
.six{
  width: 300px;
}
.graph-div{
  width: 70vw;
}
.outer-div{
  display: flex;
}